{{- $entry := . -}}
{{- $authorData := site.Data.authors -}}
{{- $journalData := site.Data.journals -}}
{{- if reflect.IsMap $entry -}}
{{- if $entry.citationMarkdown -}}
{{- $entry.citationMarkdown | markdownify -}}
{{- else if $entry.citationHtml -}}
{{- $entry.citationHtml | safeHTML -}}
{{- else -}}
{{- $officialLink := "" -}}
{{- $mathscinetLink := "" -}}
{{- $coauthors := slice -}}
{{- with $entry.officialLink -}}
  {{- $officialLink = . -}}
{{- end -}}
{{- with $entry.mathscinetLink -}}
  {{- $mathscinetLink = . -}}
{{- end -}}
{{- with $entry.titleLink -}}
  {{- if and (eq $officialLink "") (eq $mathscinetLink "") -}}
    {{- if in (lower .) "mathscinet" -}}
      {{- $mathscinetLink = . -}}
    {{- else -}}
      {{- $officialLink = . -}}
    {{- end -}}
  {{- else if and (eq $officialLink "") (not (in (lower .) "mathscinet")) -}}
    {{- $officialLink = . -}}
  {{- else if and (eq $mathscinetLink "") (in (lower .) "mathscinet") -}}
    {{- $mathscinetLink = . -}}
  {{- end -}}
{{- end -}}
<span class="publication-line publication-line-authors">
  {{- $authors := split $entry.authors "," -}}
  {{- range $index, $rawAuthor := $authors -}}
    {{- $authorKey := trim $rawAuthor " " -}}
    {{- $author := index $authorData $authorKey -}}
    {{- $isPrimary := false -}}
    {{- if $author -}}
      {{- if eq $author.id "suyoung-choi" -}}
        {{- $isPrimary = true -}}
      {{- end -}}
    {{- else if eq $authorKey "Suyoung Choi" -}}
      {{- $isPrimary = true -}}
    {{- end -}}
    {{- if not $isPrimary -}}
      {{- if $author -}}
        {{- $coauthors = $coauthors | append (dict "name" $author.name "url" $author.url) -}}
      {{- else -}}
        {{- $coauthors = $coauthors | append (dict "name" $authorKey "url" "") -}}
      {{- end -}}
    {{- end -}}
    {{ if gt $index 0 }}, {{ end }}
    <span
      class="publication-author"
      {{- with $author.id }} data-author-id="{{ . }}"{{ end -}}
      data-author-name="{{ if $author }}{{ $author.name }}{{ else }}{{ $authorKey }}{{ end }}"
      data-author-sort="{{ if $author }}{{ $author.sortName }}{{ else }}{{ $authorKey }}{{ end }}"
      {{- with $author.url }} data-author-url="{{ . }}"{{ end -}}
    >
      {{- if and $author $author.url -}}
      <a href="{{ $author.url }}">{{ $author.name }}</a>
      {{- else if $author -}}
      {{- $author.name -}}
      {{- else -}}
      {{- $authorKey | safeHTML -}}
      {{- end -}}
    </span>
  {{- end -}}
</span>
<span class="publication-line publication-line-title">
  {{- if $officialLink -}}<a href="{{ $officialLink }}">{{ $entry.title | safeHTML }}</a>{{- else -}}{{ $entry.title | safeHTML }}{{- end -}}
  {{- if gt (len $coauthors) 0 -}}
  {{- $withParts := slice -}}
  {{- range $coauthor := $coauthors -}}
    {{- if $coauthor.url -}}
      {{- $withParts = $withParts | append (printf `<a class="publication-with-link" href="%s">%s</a>` $coauthor.url $coauthor.name) -}}
    {{- else -}}
      {{- $withParts = $withParts | append $coauthor.name -}}
    {{- end -}}
  {{- end -}}
  <span class="publication-with"> (with {{ delimit $withParts ", " | safeHTML }})</span>
  {{- end -}}
</span>
<span class="publication-line publication-line-meta">
{{- with $entry.venue -}}
  {{- $rawVenue := . -}}
  {{- $journal := index $journalData $rawVenue -}}
  <strong
    class="publication-venue"
    {{- with $journal.id }} data-journal-id="{{ . }}"{{ end -}}
    data-journal-name="{{ if $journal }}{{ $journal.name }}{{ else }}{{ $rawVenue }}{{ end }}"
    data-journal-heading="{{ if and $journal $journal.heading }}{{ $journal.heading }}{{ else if $journal }}{{ $journal.name }}{{ else }}{{ $rawVenue }}{{ end }}"
    data-journal-sort="{{ if $journal }}{{ $journal.sortName }}{{ else }}{{ $rawVenue }}{{ end }}"
    {{- with $journal.url }} data-journal-url="{{ . }}"{{ end -}}
  >
    {{- if and $journal $journal.url -}}
    <a href="{{ $journal.url }}">{{ $journal.name }}</a>
    {{- else if $journal -}}
    {{- $journal.name -}}
    {{- else -}}
    {{- $rawVenue | safeHTML -}}
    {{- end -}}
  </strong>
{{- end -}}
{{- with $entry.details -}}
  {{- if $entry.venue -}}, {{ . | safeHTML }}{{- else -}}{{ . | safeHTML }}{{- end -}}
{{- end -}}
{{- with $mathscinetLink -}}
<span class="publication-extra-link">
  <a class="publication-ms-icon" href="{{ . }}" aria-label="MathSciNet Review" title="MathSciNet Review">
    <img src="{{ "icons/mr-review-icon.png" | relURL }}" alt="" aria-hidden="true" width="14" height="14" loading="lazy" decoding="async">
  </a>
</span>
{{- end -}}
{{- with $entry.note -}}<span class="publication-note"> {{ . | safeHTML }}</span>{{- end -}}
</span>
{{- end -}}
{{- else -}}
{{- $clean := replaceRE "^\\[[^\\]]+\\]\\s*" "" $entry -}}
{{- $clean | markdownify -}}
{{- end -}}
